
{% extends "base.html" %}
{% load static %}
{% block title %}💻 Home{% endblock %}
{% block content %}


  <!-- Contact Section -->
    <div class="container">
      <h2 class="section-title">Get In Touch</h2>
      <div class="contact-wrapper">

        {% if messages %}
      {% for message in messages %}
        <p class="alert">{{ message }}</p>
      {% endfor %}
    {% endif %}
        <!-- Contact Form -->
        <form method="post" action="{% url 'contact' %}" class="contact-form" >
                {% csrf_token %}
          <input type="text" name="name" placeholder="Your Name" required />
          <input type="email" name="email" placeholder="Your Email" required />
          <textarea name="message" placeholder="Your Message" required></textarea>
          <button type="submit" class="button">Send Message</button>
        </form>

        <!-- Contact Info -->
        <div class="contact-info">
          <h3>Contact Info</h3>
          <p><i class="uil uil-envelope"></i> karanironny25@gmail.com</p>
          <p><i class="uil uil-location-point"></i> Kenya, East Africa</p>
          <div class="contact-socials">
            <a href="https://github.com/ronnkarani" target="_blank"><i class="uil uil-github"></i></a>
            <a href="https://linkedin.com/in/ronnkarani" target="_blank"><i class="uil uil-linkedin"></i></a>
            <a href="mailto:karanironny25@gmail.com"><i class="uil uil-envelope"></i></a>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
