{% extends "base.html" %}
{% load static %}

{% block title %}🚀 Projects{% endblock %}

{% block content %}
<div class="container">
  <h2 class="section-title">All Projects 🚀</h2>
  <div class="project-grid">
    {% for project in projects %}
      <div class="project-card">
        {% if project.image %}
          <img src="{{ project.image.url }}" alt="{{ project.title }}" class="blog-image" />
        {% endif %}
        <h3><a href="{% url 'project_details' project.slug %}" style="text-decoration: none;">
    {{ project.title }}
  </a></h3>
        <p>{{ project.description|truncatewords:25|safe }}</p>
        <div class="project-links">
          {% if project.live_url %}
            <a href="{{ project.live_url }}" target="_blank">View Project</a>
          {% endif %}
          <a href="{% url 'project_details' project.slug %}" class="more-info">More Info</a>
        </div>
      </div>
    {% empty %}
      <p>No projects found.</p>
    {% endfor %}
  </div>

  
</div>
<div class="pagination">
  {% if projects.has_previous %}
    <a href="?page=1" class="button button--outline">&laquo; First</a>
    <a href="?page={{ projects.previous_page_number }}" class="button button--outline">Previous</a>
  {% endif %}

  <span class="button disabled">
    Page {{ projects.number }} of {{ projects.paginator.num_pages }}
  </span>

  {% if projects.has_next %}
    <a href="?page={{ projects.next_page_number }}" class="button button--outline">Next</a>
    <a href="?page={{ projects.paginator.num_pages }}" class="button button--outline">Last &raquo;</a>
  {% endif %}
</div>


{% endblock %}
